<main class="h-screen overflow-hidden flex">
  <.flash_group flash={@flash} />
  <div class="hidden lg:block lg:w-1/2 bg-amber-500"></div>
  <div class="lg:w-1/2 flex items-center justify-center">
    <%= @inner_content %>
  </div>
</main>
