<.header>
  <%= gettext("key") %> <%= @key.id %>
  <:actions>
    <.link patch={~p"/keys/#{@key}/show/edit"} phx-click={JS.push_focus()}>
      <.button><%= gettext("edit_key") %></.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Context"><%= @key.context %></:item>
</.list>

<.back navigate={~p"/keys"}>
  <%= gettext("back_to_keys") %>
</.back>
