<.header>
  <%= dgettext("certificates", "certificate") %> <%= @certificate.id %>
  <:actions>
    <.link patch={~p"/certificates/#{@certificate}/show/edit"} phx-click={JS.push_focus()}>
      <.button><%= dgettext("certificates", "edit") %></.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Context"><%= @certificate.context %></:item>
</.list>

<.back navigate={~p"/certificates"}>
  <%= dgettext("certificates", "back") %>
</.back>
